@import 'variables';
@import 'mixins';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');



.container
{
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.playground_header
{
  display: flex;
  

}
.header_content
{
  display: flex;
 
  .header_content_left
  {
    .header_content_left_img
    {
      width: 200px;
      height: 50px;
    }
  }
  .header_content_right
  {

    display: flex;
    position: relative;
    margin-top: 10px;
    left: 400px;
    .header_content_right_p
    {
      margin-left: 50px;
      font-size: 16px;
      font-family: 'Poppins';
      color: $main-color;
    }
    .header_content_right_btn
    {
      margin-top: -5px;
      margin-left: 50px;
      width: 100px;
      height: 40px;
      border: 1px solid $main-color;
      background-color: transparent;
      border-radius: 15px;
      color: $main-color;
    }
  }

}

// content 2 here
.content2
{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  .content2_wrap
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h1
   {
     color: $main-color;
     font-size: 65px;
     font-weight: bold;
   }
   p
   {
     margin-top: 10px;
     width: 680px;
     text-align: center;
     font-size:25px;
     color: #6e7590;
   }
   .content2_wrap_btn
   {
     :first-child
     {
       width: 135px;
       height: 50px;
       background-color: transparent;
       border-radius: 30px;
       color: $main-color;
       font-size: 20px;
       font-weight: 500;
     }
     :nth-child(2)
     {
       
     }
   }
}

}


